@font-face {
  font-family: 'GenSenRounded';
  font-weight: 900;
  src: url('/fonts/GenSenRounded-B.ttc');
  font-display: swap;
}

// @font-face {
//   font-family: 'GenSenRounded';
//   font-weight: 500;
//   src: url('/fonts/GenSenRounded-R.ttc');
//   font-display: swap;
// }

// @font-face {
//   font-family: 'GenSenRounded';
//   font-weight: 300;
//   src: url('/fonts/GenSenRounded-L.ttc');
//   font-display: swap;
// }

h1 {
  font-family: 'GenSenRounded', Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1;
  white-space: pre-line;
}

h2 {
  font-family: 'GenSenRounded', Helvetica, sans-serif;
  font-size: 28px;
}

h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
}

h4 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
}

h5 {
  font-weight: 900;
  font-size: 15px;
}

h6 {
  font-family: 'GenSenRounded', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1;
}

b {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
