@font-face {
  font-family: 'GenSenRounded';
  font-weight: 900;
  src: url('./fonts/GenSenRounded-B.ttc');
  font-display: swap;
}

@font-face {
  font-family: 'GenSenRounded';
  font-weight: 500;
  src: url('./fonts/GenSenRounded-R.ttc');
  font-display: swap;
}

@font-face {
  font-family: 'GenSenRounded';
  font-weight: 300;
  src: url('./fonts/GenSenRounded-L.ttc');
  font-display: swap;
}
