@import './base.css';
@import 'extent';

#app {
  margin: 0 auto;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
// ==== Page ====
main {
  @extend %flex-col;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 1rem 3rem 1rem;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0.5rem auto;
  }
  > section {
    width: 100%;
    max-width: 22rem;
  }
  &#mapMain {
    position: relative;
    height: 100dvh;
    padding: 0;
    overflow: hidden;
  }
}
// ==== Content Secton ====

section {
  &.linkBox {
    @extend %flex-row;
    justify-content: space-around;
    > a {
      margin-bottom: 1rem;
    }
    &.right{
      justify-content: flex-end
    }
  }
  &.cardSection {
    @extend %flex-row;
    justify-content: center;

    height: 20rem;
    border: 1px solid #ddd;
  }
}

.mainheader {
  @extend %flex-row;
  justify-content: space-between;
  width: 100%;
  padding: 0.25rem 1rem;
  .userProfile {
    @extend %flex-row;
    img {
      width: 36px;
      height: 36px;
      background: #cfd4da;
      border-radius: 50%;
    }
    > div {
      @extend %flex-col;
      align-items: flex-start;
      padding: 0 0.5rem;
    }
  }
  .userNotAuth {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #cfd4da;
  }
}
